# C Crap
*.o
*.a
*.lib
*.bin

# C Tags
.tags
TAGS
tags

# Doxygen
doc/

# Python
*.pyc
*.swp

# Fuse crap
.fuse*
*.bak
*.old

# Callgrind/perf crap
callgrind.out.*
*.perf

# Emacs crap
\#*
*.dat
/*~

/.cproject
/.project
/.settings/
/__pycache__/
/.ropeproject/
/pymyriad/__pycache__/
/pymyriad/docs/_build
