# C Crap
*.o
*.a
*.lib
*.bin

# C Tags
.tags
TAGS
tags

# Doxygen
doc/

# Fuse crap
.fuse*

# Emacs crap
\#*
*.dat
/*~

/.cproject
/.project
/.settings/
/__pycache__/
/.ropeproject/
/pymyriad/__pycache__/
