# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# logs
*.log

# Binaries folder
bin/

# Object folder
obj/

# Library folder
lib/

# Eclipse junk
.cproject
.settings/
.project

# Build directory
build/

# Autotools junk
autom4te.cache/
configure
config.status
install-sh
config.h
config.h.in

# Non-autotools Makefiles
Makefile
src/Makefile
